// container
.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  @include bp-pc-large {
    max-width: 1140px;
  }
  @include bp-pc {
    max-width: 960px;
  }
  @include bp-tablet {
    max-width: 720px;
  }
  @include bp-mobile {
    max-width: 540px;
  }
}

$cols: 12;
@for $i from 1 through $cols{
  .col-#{$i}{
    width: 100% / 12 * $i;
    padding-left: 12px;
    padding-right: 12px;
  }
  @include bp-tablet{
    .col-md-#{$i}{
      width: 100% / 12 * $i;
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  @include bp-mobile{
    & > *{
      width: 100%;
    }
  }
}

@include bp-tablet{
  .md-row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    @include bp-mobile{
      & > *{
        width: 100%;
      }
    }
  }
}

.offset-md-3{
  @include bp-tablet{
    margin-left: 25%;
  }
  @include bp-mobile{
    margin-left: 0;
  }
}

.no-gutter{
  margin: 0;
  & > *{
    padding: 0;
  }
}

// for color
@each $key, $value in $colors-map {
  .text-#{$key} {
    color: $value;
  }
  .bg-#{$key} {
    background-color: $value;
  }
  .btn-#{$key} {
    background-color: $value;
    color: $light;
  }
}

// for font
@each $key, $value in $font-size-map {
  .fz-#{$key} {
    font-size: $value;
  }
}

@include bp-tablet{
  @each $key, $value in $font-size-map {
    .fz-md-#{$key} {
      font-size: $value;
    }
  }
}

@include bp-mobile{
  @each $key, $value in $font-size-map {
    .fz-sm-#{$key} {
      font-size: $value;
    }
  }
}


@each $key,$value in $font-weight-map{
  .fw-#{$key}{
    font-weight: $value;
  }
}

.italic{
  font-style: italic;
}


// for spacing
.m-center {
  margin: 0 auto;
}

.mb-xs{
  margin-bottom: 4px;
}

$max: 17;
@for $i from 1 through $max {
  .m-#{$i}{
    margin: $i * 8px;
  }
  .mt-#{$i} {
    margin-top: $i * 8px;
  }
  .me-#{$i} {
    margin-right: $i * 8px;
  }
  .mb-#{$i} {
    margin-bottom: $i * 8px;
  }
  .ms-#{$i} {
    margin-left: $i * 8px;
  }
  .mx-#{$i} {
    margin-left: $i * 8px;
    margin-right: $i * 8px;
  }
  .my-#{$i} {
    margin-top: $i * 8px;
    margin-bottom: $i * 8px;
  }
  .p-#{$i}{
    padding: $i * 8px;
  }
  .pt-#{$i} {
    padding-top: $i * 8px;
  }
  .pe-#{$i} {
    padding-right: $i * 8px;
  }
  .pb-#{$i} {
    padding-bottom: $i * 8px;
  }
  .ps-#{$i} {
    padding-left: $i * 8px;
  }
  .px-#{$i} {
    padding-left: $i * 8px;
    padding-right: $i * 8px;
  }
  .py-#{$i} {
    padding-top: $i * 8px;
    padding-bottom: $i * 8px;
  }
}

.mb-blog{
  margin-bottom: 60px;
}

.pb-blog{
  padding-bottom: 60px;
}

@include bp-tablet{
  @for $i from 1 through $max {
    .m-md-#{$i} {
      margin: $i * 8px;
    }
    .mt-md-#{$i} {
      margin-top: $i * 8px;
    }
    .me-md-#{$i} {
      margin-right: $i * 8px;
    }
    .mb-md-#{$i} {
      margin-bottom: $i * 8px;
    }
    .ms-md-#{$i} {
      margin-left: $i * 8px;
    }
    .mx-md-#{$i} {
      margin-left: $i * 8px;
      margin-right: $i * 8px;
    }
    .my-md-#{$i} {
      margin-top: $i * 8px;
      margin-bottom: $i * 8px;
    }
    .p-md-#{$i}{
      padding: $i * 8px;
    }
    .pt-md-#{$i} {
      padding-top: $i * 8px;
    }
    .pe-md-#{$i} {
      padding-right: $i * 8px;
    }
    .pb-md-#{$i} {
      padding-bottom: $i * 8px;
    }
    .ps-md-#{$i} {
      padding-left: $i * 8px;
    }
    .px-md-#{$i} {
      padding-left: $i * 8px;
      padding-right: $i * 8px;
    }
    .py-md-#{$i} {
      padding-top: $i * 8px;
      padding-bottom: $i * 8px;
    }
  }
}

@include bp-mobile{
  @for $i from 1 through $max{
    .m-sm-#{$i} {
      margin: $i * 8px;
    }
    .mt-sm-#{$i} {
      margin-top: $i * 8px;
    }
    .me-sm-#{$i} {
      margin-right: $i * 8px;
    }
    .mb-sm-#{$i} {
      margin-bottom: $i * 8px;
    }
    .ms-sm-#{$i} {
      margin-left: $i * 8px;
    }
    .mx-sm-#{$i} {
      margin-left: $i * 8px;
      margin-right: $i * 8px;
    }
    .my-sm-#{$i} {
      margin-top: $i * 8px;
      margin-bottom: $i * 8px;
    }
    .p-sm-#{$i}{
      padding: $i * 8px;
    }
    .pt-sm-#{$i} {
      padding-top: $i * 8px;
    }
    .pe-sm-#{$i} {
      padding-right: $i * 8px;
    }
    .pb-sm-#{$i} {
      padding-bottom: $i * 8px;
    }
    .ps-sm-#{$i} {
      padding-left: $i * 8px;
    }
    .px-sm-#{$i} {
      padding-left: $i * 8px;
      padding-right: $i * 8px;
    }
    .py-sm-#{$i} {
      padding-top: $i * 8px;
      padding-bottom: $i * 8px;
    }
  }
}

.m-0 {
  margin: 0;
}
@include bp-tablet{
  .m-md-0{
    margin: 0;
  }
}

.p-0 {
  padding: 0;
}

// for display
.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}


@include bp-pc{
  .d-lg-none{
    display: none;
  }
  .d-lg-inline{
    display: inline;
  }
}

@include bp-tablet{
  .d-md-none{
    display: none;
  }
}

@include bp-mobile{
  .d-sm-none{
    display: none;
  }
}

// for position
.position-fixed{
  position: fixed;
}


// for flex
.jcsb {
  justify-content: space-between;
}

.jce{
  justify-content: flex-end;
}

.aic {
  align-items: center;
}

.ais{
  align-items: flex-start;
}

.flex-column{
  flex-direction: column;
}

.flex-grow-1{
  flex-grow: 1;
}

// alignments
.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

// for width
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}

.object-cover{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


// hover style
.hover-td{
  &:hover{
    text-decoration: underline;
  }
}

.hover-enlarge{
  transition: transform .3s;
  &:hover{
    transform: scale(1.03);
  }
}

.hover-enlarge-shadow{
  transition: transform .3s;
  &:hover{
    transform: scale(1.03);
    box-shadow: 0 3px 10px $gray-8;
  }
}
