
.index-banner{
  background-image: url(../images/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 72.9vh;
  @include bp-tablet{
    background-image: url(../images/home-header-sm.png);
  }
  & > div{
    height: 100%;
  }
}

.buy-now{
  padding: 6px 12px;
  font-size: $fz-3;
  font-weight: $fw-medium;
  margin-top: 4px;
  transition: transform .2s;
  &:hover{
    background-color: $primary-darken;
    transform: scale(0.95);
  }
  &:active{
    background-color: $primary-darken;
    transform: scale(0.95);
  }
}

.section2-img{
  display: block;
  max-width: 100px;
  margin: 0 auto;
}

.co-branding{
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @include bp-tablet{
    background-image: url(../images/index-bg-md.png);
  }
  @include bp-mobile{
    background-image: url(../images/index-bg-sm.png);
  }
}

.section4-img{
  width: 100%;
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &-1{
    background-image: url(../images/home-section4-1.png);
    @include bp-mobile{
      background-image: url(../images/home-section4-1-sm.png);
    }
  }
  &-2{
    background-image: url(../images/home-section4-2.png);
    @include bp-mobile{
      background-image: url(../images/home-section4-2-sm.png);
    }
  }
}

input, textarea{
  text-indent: 12px;
  border-width: 1px;
  border-color: $base;
}

textarea{
  max-height: 136px;
  line-height: 24px;
}

input:not([type="checkbox"]){
  min-height: 36px;
}

input[type="checkbox"]{
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

input[type="submit"]{
  border: none;
  &:hover{
    background-color: $primary-darken;
  }
  &:active{
    background-color: $primary-darken;
  }
}
