
.banner-optical{
  li{
    &:first-child{
      background-image: url(../images/product-header-1.png);
      @include bp-tablet{
        background-image: url(../images/product-header-sm-1.png);
      }
    }
    &:last-child{
      background-image: url(../images/product-header-2.png);
      @include bp-tablet{
        background-image: url(../images/product-header-sm-2.png);
      }
    }
  }
}

.optical-exhibit{
  @include bp-tablet{
    li:nth-child(n+11){
      display: none;
    }
  }
  @include bp-mobile{
    li:nth-child(n+6){
      display: none;
    }
  }
}