@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font-family: 'Roboto','Noto Sans TC','微軟正黑體',"Microsoft JhengHei",-apple-system, BlinkMacSystemFont, "Segoe UI",  "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5; }

a {
  color: #000000;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #DEE2E6;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16); }
  .card-img {
    border-radius: 4px 4px 0 0; }
  .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  border: 1px solid #555555; }
  .pagination li {
    font-size: 18px; }
    @media (max-width: 767px) {
      .pagination li {
        font-size: 16px; } }
    .pagination li + li {
      border-left: 1px solid #555555; }
    .pagination li a {
      display: block;
      height: 100%;
      padding: 12px 16px; }
      @media (max-width: 767px) {
        .pagination li a {
          padding: 12px 15px; } }
      .pagination li a:hover {
        background-color: #F2F2F2; }
    .pagination li:first-child {
      font-size: 19px; }
      @media (max-width: 767px) {
        .pagination li:first-child {
          font-size: 16px; } }
      .pagination li:first-child a {
        padding: 11px 12px; }
    .pagination li:last-child {
      font-size: 19px; }
      @media (max-width: 767px) {
        .pagination li:last-child {
          font-size: 16px; } }
      .pagination li:last-child a {
        padding: 11px 12px; }
  .pagination .active {
    background-color: #000000;
    color: #ffffff; }
    .pagination .active:hover {
      background-color: #000000; }

.decorative-title {
  font-size: 3rem;
  font-weight: 700;
  padding-left: 16px;
  border-left: 8px solid #AA0601; }
  @media (max-width: 767px) {
    .decorative-title {
      font-size: 1.5rem; } }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .breadcrumb-item {
    padding-right: 4px; }
    .breadcrumb-item + .breadcrumb-item::before {
      content: '/ '; }
    .breadcrumb-item:last-child a {
      color: #AA0601; }

.hashtag {
  display: inline-block;
  color: #AA0601;
  font-weight: 700; }

.share-list {
  font-weight: 700;
  padding-bottom: 16px;
  border-bottom: 1px solid #707070; }
  .share-list li {
    display: inline-block; }
    .share-list li + li {
      margin-left: 16px; }
  .share-list .share-links {
    display: block; }
  .share-list img {
    max-width: 24px; }

.container {
  max-width: 1320px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto; }
  @media (max-width: 1399px) {
    .container {
      max-width: 1140px; } }
  @media (max-width: 1199px) {
    .container {
      max-width: 960px; } }
  @media (max-width: 991px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 540px; } }

.col-1 {
  width: 8.33333%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-1 {
    width: 8.33333%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-2 {
  width: 16.66667%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-2 {
    width: 16.66667%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-3 {
  width: 25%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-4 {
  width: 33.33333%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-4 {
    width: 33.33333%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-5 {
  width: 41.66667%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-5 {
    width: 41.66667%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-6 {
  width: 50%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-7 {
  width: 58.33333%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-7 {
    width: 58.33333%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-8 {
  width: 66.66667%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-8 {
    width: 66.66667%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-9 {
  width: 75%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-9 {
    width: 75%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-10 {
  width: 83.33333%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-10 {
    width: 83.33333%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-11 {
  width: 91.66667%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-11 {
    width: 91.66667%;
    padding-left: 12px;
    padding-right: 12px; } }

.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px; }

@media (max-width: 991px) {
  .col-md-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px; } }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px; }
  @media (max-width: 767px) {
    .row > * {
      width: 100%; } }

@media (max-width: 991px) {
  .md-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px; } }
  @media (max-width: 991px) and (max-width: 767px) {
    .md-row > * {
      width: 100%; } }

@media (max-width: 991px) {
  .offset-md-3 {
    margin-left: 25%; } }

@media (max-width: 767px) {
  .offset-md-3 {
    margin-left: 0; } }

.no-gutter {
  margin: 0; }
  .no-gutter > * {
    padding: 0; }

.text-primary {
  color: #AA0601; }

.bg-primary {
  background-color: #AA0601; }

.btn-primary {
  background-color: #AA0601;
  color: #ffffff; }

.text-secondary {
  color: #FBF2F2; }

.bg-secondary {
  background-color: #FBF2F2; }

.btn-secondary {
  background-color: #FBF2F2;
  color: #ffffff; }

.text-base {
  color: #000000; }

.bg-base {
  background-color: #000000; }

.btn-base {
  background-color: #000000;
  color: #ffffff; }

.text-light {
  color: #ffffff; }

.bg-light {
  background-color: #ffffff; }

.btn-light {
  background-color: #ffffff;
  color: #ffffff; }

.text-primary-darken {
  color: #650300; }

.bg-primary-darken {
  background-color: #650300; }

.btn-primary-darken {
  background-color: #650300;
  color: #ffffff; }

.text-brown {
  color: #B75929; }

.bg-brown {
  background-color: #B75929; }

.btn-brown {
  background-color: #B75929;
  color: #ffffff; }

.text-brown-darken {
  color: #5F3E2D; }

.bg-brown-darken {
  background-color: #5F3E2D; }

.btn-brown-darken {
  background-color: #5F3E2D;
  color: #ffffff; }

.text-gray-1 {
  color: #F2F2F2; }

.bg-gray-1 {
  background-color: #F2F2F2; }

.btn-gray-1 {
  background-color: #F2F2F2;
  color: #ffffff; }

.text-gray-2 {
  color: #DEE2E6; }

.bg-gray-2 {
  background-color: #DEE2E6; }

.btn-gray-2 {
  background-color: #DEE2E6;
  color: #ffffff; }

.text-gray-3 {
  color: #DCDCDC; }

.bg-gray-3 {
  background-color: #DCDCDC; }

.btn-gray-3 {
  background-color: #DCDCDC;
  color: #ffffff; }

.text-gray-4 {
  color: #707070; }

.bg-gray-4 {
  background-color: #707070; }

.btn-gray-4 {
  background-color: #707070;
  color: #ffffff; }

.text-gray-5 {
  color: #555555; }

.bg-gray-5 {
  background-color: #555555; }

.btn-gray-5 {
  background-color: #555555;
  color: #ffffff; }

.text-gray-6 {
  color: #555555; }

.bg-gray-6 {
  background-color: #555555; }

.btn-gray-6 {
  background-color: #555555;
  color: #ffffff; }

.text-gray-7 {
  color: #212529; }

.bg-gray-7 {
  background-color: #212529; }

.btn-gray-7 {
  background-color: #212529;
  color: #ffffff; }

.text-gray-8 {
  color: rgba(0, 0, 0, 0.16); }

.bg-gray-8 {
  background-color: rgba(0, 0, 0, 0.16); }

.btn-gray-8 {
  background-color: rgba(0, 0, 0, 0.16);
  color: #ffffff; }

.fz-1 {
  font-size: 0.875rem; }

.fz-2 {
  font-size: 1rem; }

.fz-3 {
  font-size: 1.25rem; }

.fz-4 {
  font-size: 1.5rem; }

.fz-5 {
  font-size: 2rem; }

.fz-6 {
  font-size: 2.25rem; }

.fz-7 {
  font-size: 2.625rem; }

.fz-8 {
  font-size: 3rem; }

.fz-xl {
  font-size: 4rem; }

@media (max-width: 991px) {
  .fz-md-1 {
    font-size: 0.875rem; }
  .fz-md-2 {
    font-size: 1rem; }
  .fz-md-3 {
    font-size: 1.25rem; }
  .fz-md-4 {
    font-size: 1.5rem; }
  .fz-md-5 {
    font-size: 2rem; }
  .fz-md-6 {
    font-size: 2.25rem; }
  .fz-md-7 {
    font-size: 2.625rem; }
  .fz-md-8 {
    font-size: 3rem; }
  .fz-md-xl {
    font-size: 4rem; } }

@media (max-width: 767px) {
  .fz-sm-1 {
    font-size: 0.875rem; }
  .fz-sm-2 {
    font-size: 1rem; }
  .fz-sm-3 {
    font-size: 1.25rem; }
  .fz-sm-4 {
    font-size: 1.5rem; }
  .fz-sm-5 {
    font-size: 2rem; }
  .fz-sm-6 {
    font-size: 2.25rem; }
  .fz-sm-7 {
    font-size: 2.625rem; }
  .fz-sm-8 {
    font-size: 3rem; }
  .fz-sm-xl {
    font-size: 4rem; } }

.fw-regular {
  font-weight: 400; }

.fw-medium {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }

.italic {
  font-style: italic; }

.m-center {
  margin: 0 auto; }

.mb-xs {
  margin-bottom: 4px; }

.m-1 {
  margin: 8px; }

.mt-1 {
  margin-top: 8px; }

.me-1 {
  margin-right: 8px; }

.mb-1 {
  margin-bottom: 8px; }

.ms-1 {
  margin-left: 8px; }

.mx-1 {
  margin-left: 8px;
  margin-right: 8px; }

.my-1 {
  margin-top: 8px;
  margin-bottom: 8px; }

.p-1 {
  padding: 8px; }

.pt-1 {
  padding-top: 8px; }

.pe-1 {
  padding-right: 8px; }

.pb-1 {
  padding-bottom: 8px; }

.ps-1 {
  padding-left: 8px; }

.px-1 {
  padding-left: 8px;
  padding-right: 8px; }

.py-1 {
  padding-top: 8px;
  padding-bottom: 8px; }

.m-2 {
  margin: 16px; }

.mt-2 {
  margin-top: 16px; }

.me-2 {
  margin-right: 16px; }

.mb-2 {
  margin-bottom: 16px; }

.ms-2 {
  margin-left: 16px; }

.mx-2 {
  margin-left: 16px;
  margin-right: 16px; }

.my-2 {
  margin-top: 16px;
  margin-bottom: 16px; }

.p-2 {
  padding: 16px; }

.pt-2 {
  padding-top: 16px; }

.pe-2 {
  padding-right: 16px; }

.pb-2 {
  padding-bottom: 16px; }

.ps-2 {
  padding-left: 16px; }

.px-2 {
  padding-left: 16px;
  padding-right: 16px; }

.py-2 {
  padding-top: 16px;
  padding-bottom: 16px; }

.m-3 {
  margin: 24px; }

.mt-3 {
  margin-top: 24px; }

.me-3 {
  margin-right: 24px; }

.mb-3 {
  margin-bottom: 24px; }

.ms-3 {
  margin-left: 24px; }

.mx-3 {
  margin-left: 24px;
  margin-right: 24px; }

.my-3 {
  margin-top: 24px;
  margin-bottom: 24px; }

.p-3 {
  padding: 24px; }

.pt-3 {
  padding-top: 24px; }

.pe-3 {
  padding-right: 24px; }

.pb-3 {
  padding-bottom: 24px; }

.ps-3 {
  padding-left: 24px; }

.px-3 {
  padding-left: 24px;
  padding-right: 24px; }

.py-3 {
  padding-top: 24px;
  padding-bottom: 24px; }

.m-4 {
  margin: 32px; }

.mt-4 {
  margin-top: 32px; }

.me-4 {
  margin-right: 32px; }

.mb-4 {
  margin-bottom: 32px; }

.ms-4 {
  margin-left: 32px; }

.mx-4 {
  margin-left: 32px;
  margin-right: 32px; }

.my-4 {
  margin-top: 32px;
  margin-bottom: 32px; }

.p-4 {
  padding: 32px; }

.pt-4 {
  padding-top: 32px; }

.pe-4 {
  padding-right: 32px; }

.pb-4 {
  padding-bottom: 32px; }

.ps-4 {
  padding-left: 32px; }

.px-4 {
  padding-left: 32px;
  padding-right: 32px; }

.py-4 {
  padding-top: 32px;
  padding-bottom: 32px; }

.m-5 {
  margin: 40px; }

.mt-5 {
  margin-top: 40px; }

.me-5 {
  margin-right: 40px; }

.mb-5 {
  margin-bottom: 40px; }

.ms-5 {
  margin-left: 40px; }

.mx-5 {
  margin-left: 40px;
  margin-right: 40px; }

.my-5 {
  margin-top: 40px;
  margin-bottom: 40px; }

.p-5 {
  padding: 40px; }

.pt-5 {
  padding-top: 40px; }

.pe-5 {
  padding-right: 40px; }

.pb-5 {
  padding-bottom: 40px; }

.ps-5 {
  padding-left: 40px; }

.px-5 {
  padding-left: 40px;
  padding-right: 40px; }

.py-5 {
  padding-top: 40px;
  padding-bottom: 40px; }

.m-6 {
  margin: 48px; }

.mt-6 {
  margin-top: 48px; }

.me-6 {
  margin-right: 48px; }

.mb-6 {
  margin-bottom: 48px; }

.ms-6 {
  margin-left: 48px; }

.mx-6 {
  margin-left: 48px;
  margin-right: 48px; }

.my-6 {
  margin-top: 48px;
  margin-bottom: 48px; }

.p-6 {
  padding: 48px; }

.pt-6 {
  padding-top: 48px; }

.pe-6 {
  padding-right: 48px; }

.pb-6 {
  padding-bottom: 48px; }

.ps-6 {
  padding-left: 48px; }

.px-6 {
  padding-left: 48px;
  padding-right: 48px; }

.py-6 {
  padding-top: 48px;
  padding-bottom: 48px; }

.m-7 {
  margin: 56px; }

.mt-7 {
  margin-top: 56px; }

.me-7 {
  margin-right: 56px; }

.mb-7 {
  margin-bottom: 56px; }

.ms-7 {
  margin-left: 56px; }

.mx-7 {
  margin-left: 56px;
  margin-right: 56px; }

.my-7 {
  margin-top: 56px;
  margin-bottom: 56px; }

.p-7 {
  padding: 56px; }

.pt-7 {
  padding-top: 56px; }

.pe-7 {
  padding-right: 56px; }

.pb-7 {
  padding-bottom: 56px; }

.ps-7 {
  padding-left: 56px; }

.px-7 {
  padding-left: 56px;
  padding-right: 56px; }

.py-7 {
  padding-top: 56px;
  padding-bottom: 56px; }

.m-8 {
  margin: 64px; }

.mt-8 {
  margin-top: 64px; }

.me-8 {
  margin-right: 64px; }

.mb-8 {
  margin-bottom: 64px; }

.ms-8 {
  margin-left: 64px; }

.mx-8 {
  margin-left: 64px;
  margin-right: 64px; }

.my-8 {
  margin-top: 64px;
  margin-bottom: 64px; }

.p-8 {
  padding: 64px; }

.pt-8 {
  padding-top: 64px; }

.pe-8 {
  padding-right: 64px; }

.pb-8 {
  padding-bottom: 64px; }

.ps-8 {
  padding-left: 64px; }

.px-8 {
  padding-left: 64px;
  padding-right: 64px; }

.py-8 {
  padding-top: 64px;
  padding-bottom: 64px; }

.m-9 {
  margin: 72px; }

.mt-9 {
  margin-top: 72px; }

.me-9 {
  margin-right: 72px; }

.mb-9 {
  margin-bottom: 72px; }

.ms-9 {
  margin-left: 72px; }

.mx-9 {
  margin-left: 72px;
  margin-right: 72px; }

.my-9 {
  margin-top: 72px;
  margin-bottom: 72px; }

.p-9 {
  padding: 72px; }

.pt-9 {
  padding-top: 72px; }

.pe-9 {
  padding-right: 72px; }

.pb-9 {
  padding-bottom: 72px; }

.ps-9 {
  padding-left: 72px; }

.px-9 {
  padding-left: 72px;
  padding-right: 72px; }

.py-9 {
  padding-top: 72px;
  padding-bottom: 72px; }

.m-10 {
  margin: 80px; }

.mt-10 {
  margin-top: 80px; }

.me-10 {
  margin-right: 80px; }

.mb-10 {
  margin-bottom: 80px; }

.ms-10 {
  margin-left: 80px; }

.mx-10 {
  margin-left: 80px;
  margin-right: 80px; }

.my-10 {
  margin-top: 80px;
  margin-bottom: 80px; }

.p-10 {
  padding: 80px; }

.pt-10 {
  padding-top: 80px; }

.pe-10 {
  padding-right: 80px; }

.pb-10 {
  padding-bottom: 80px; }

.ps-10 {
  padding-left: 80px; }

.px-10 {
  padding-left: 80px;
  padding-right: 80px; }

.py-10 {
  padding-top: 80px;
  padding-bottom: 80px; }

.m-11 {
  margin: 88px; }

.mt-11 {
  margin-top: 88px; }

.me-11 {
  margin-right: 88px; }

.mb-11 {
  margin-bottom: 88px; }

.ms-11 {
  margin-left: 88px; }

.mx-11 {
  margin-left: 88px;
  margin-right: 88px; }

.my-11 {
  margin-top: 88px;
  margin-bottom: 88px; }

.p-11 {
  padding: 88px; }

.pt-11 {
  padding-top: 88px; }

.pe-11 {
  padding-right: 88px; }

.pb-11 {
  padding-bottom: 88px; }

.ps-11 {
  padding-left: 88px; }

.px-11 {
  padding-left: 88px;
  padding-right: 88px; }

.py-11 {
  padding-top: 88px;
  padding-bottom: 88px; }

.m-12 {
  margin: 96px; }

.mt-12 {
  margin-top: 96px; }

.me-12 {
  margin-right: 96px; }

.mb-12 {
  margin-bottom: 96px; }

.ms-12 {
  margin-left: 96px; }

.mx-12 {
  margin-left: 96px;
  margin-right: 96px; }

.my-12 {
  margin-top: 96px;
  margin-bottom: 96px; }

.p-12 {
  padding: 96px; }

.pt-12 {
  padding-top: 96px; }

.pe-12 {
  padding-right: 96px; }

.pb-12 {
  padding-bottom: 96px; }

.ps-12 {
  padding-left: 96px; }

.px-12 {
  padding-left: 96px;
  padding-right: 96px; }

.py-12 {
  padding-top: 96px;
  padding-bottom: 96px; }

.m-13 {
  margin: 104px; }

.mt-13 {
  margin-top: 104px; }

.me-13 {
  margin-right: 104px; }

.mb-13 {
  margin-bottom: 104px; }

.ms-13 {
  margin-left: 104px; }

.mx-13 {
  margin-left: 104px;
  margin-right: 104px; }

.my-13 {
  margin-top: 104px;
  margin-bottom: 104px; }

.p-13 {
  padding: 104px; }

.pt-13 {
  padding-top: 104px; }

.pe-13 {
  padding-right: 104px; }

.pb-13 {
  padding-bottom: 104px; }

.ps-13 {
  padding-left: 104px; }

.px-13 {
  padding-left: 104px;
  padding-right: 104px; }

.py-13 {
  padding-top: 104px;
  padding-bottom: 104px; }

.m-14 {
  margin: 112px; }

.mt-14 {
  margin-top: 112px; }

.me-14 {
  margin-right: 112px; }

.mb-14 {
  margin-bottom: 112px; }

.ms-14 {
  margin-left: 112px; }

.mx-14 {
  margin-left: 112px;
  margin-right: 112px; }

.my-14 {
  margin-top: 112px;
  margin-bottom: 112px; }

.p-14 {
  padding: 112px; }

.pt-14 {
  padding-top: 112px; }

.pe-14 {
  padding-right: 112px; }

.pb-14 {
  padding-bottom: 112px; }

.ps-14 {
  padding-left: 112px; }

.px-14 {
  padding-left: 112px;
  padding-right: 112px; }

.py-14 {
  padding-top: 112px;
  padding-bottom: 112px; }

.m-15 {
  margin: 120px; }

.mt-15 {
  margin-top: 120px; }

.me-15 {
  margin-right: 120px; }

.mb-15 {
  margin-bottom: 120px; }

.ms-15 {
  margin-left: 120px; }

.mx-15 {
  margin-left: 120px;
  margin-right: 120px; }

.my-15 {
  margin-top: 120px;
  margin-bottom: 120px; }

.p-15 {
  padding: 120px; }

.pt-15 {
  padding-top: 120px; }

.pe-15 {
  padding-right: 120px; }

.pb-15 {
  padding-bottom: 120px; }

.ps-15 {
  padding-left: 120px; }

.px-15 {
  padding-left: 120px;
  padding-right: 120px; }

.py-15 {
  padding-top: 120px;
  padding-bottom: 120px; }

.m-16 {
  margin: 128px; }

.mt-16 {
  margin-top: 128px; }

.me-16 {
  margin-right: 128px; }

.mb-16 {
  margin-bottom: 128px; }

.ms-16 {
  margin-left: 128px; }

.mx-16 {
  margin-left: 128px;
  margin-right: 128px; }

.my-16 {
  margin-top: 128px;
  margin-bottom: 128px; }

.p-16 {
  padding: 128px; }

.pt-16 {
  padding-top: 128px; }

.pe-16 {
  padding-right: 128px; }

.pb-16 {
  padding-bottom: 128px; }

.ps-16 {
  padding-left: 128px; }

.px-16 {
  padding-left: 128px;
  padding-right: 128px; }

.py-16 {
  padding-top: 128px;
  padding-bottom: 128px; }

.m-17 {
  margin: 136px; }

.mt-17 {
  margin-top: 136px; }

.me-17 {
  margin-right: 136px; }

.mb-17 {
  margin-bottom: 136px; }

.ms-17 {
  margin-left: 136px; }

.mx-17 {
  margin-left: 136px;
  margin-right: 136px; }

.my-17 {
  margin-top: 136px;
  margin-bottom: 136px; }

.p-17 {
  padding: 136px; }

.pt-17 {
  padding-top: 136px; }

.pe-17 {
  padding-right: 136px; }

.pb-17 {
  padding-bottom: 136px; }

.ps-17 {
  padding-left: 136px; }

.px-17 {
  padding-left: 136px;
  padding-right: 136px; }

.py-17 {
  padding-top: 136px;
  padding-bottom: 136px; }

.mb-blog {
  margin-bottom: 60px; }

.pb-blog {
  padding-bottom: 60px; }

@media (max-width: 991px) {
  .m-md-1 {
    margin: 8px; }
  .mt-md-1 {
    margin-top: 8px; }
  .me-md-1 {
    margin-right: 8px; }
  .mb-md-1 {
    margin-bottom: 8px; }
  .ms-md-1 {
    margin-left: 8px; }
  .mx-md-1 {
    margin-left: 8px;
    margin-right: 8px; }
  .my-md-1 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .p-md-1 {
    padding: 8px; }
  .pt-md-1 {
    padding-top: 8px; }
  .pe-md-1 {
    padding-right: 8px; }
  .pb-md-1 {
    padding-bottom: 8px; }
  .ps-md-1 {
    padding-left: 8px; }
  .px-md-1 {
    padding-left: 8px;
    padding-right: 8px; }
  .py-md-1 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .m-md-2 {
    margin: 16px; }
  .mt-md-2 {
    margin-top: 16px; }
  .me-md-2 {
    margin-right: 16px; }
  .mb-md-2 {
    margin-bottom: 16px; }
  .ms-md-2 {
    margin-left: 16px; }
  .mx-md-2 {
    margin-left: 16px;
    margin-right: 16px; }
  .my-md-2 {
    margin-top: 16px;
    margin-bottom: 16px; }
  .p-md-2 {
    padding: 16px; }
  .pt-md-2 {
    padding-top: 16px; }
  .pe-md-2 {
    padding-right: 16px; }
  .pb-md-2 {
    padding-bottom: 16px; }
  .ps-md-2 {
    padding-left: 16px; }
  .px-md-2 {
    padding-left: 16px;
    padding-right: 16px; }
  .py-md-2 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .m-md-3 {
    margin: 24px; }
  .mt-md-3 {
    margin-top: 24px; }
  .me-md-3 {
    margin-right: 24px; }
  .mb-md-3 {
    margin-bottom: 24px; }
  .ms-md-3 {
    margin-left: 24px; }
  .mx-md-3 {
    margin-left: 24px;
    margin-right: 24px; }
  .my-md-3 {
    margin-top: 24px;
    margin-bottom: 24px; }
  .p-md-3 {
    padding: 24px; }
  .pt-md-3 {
    padding-top: 24px; }
  .pe-md-3 {
    padding-right: 24px; }
  .pb-md-3 {
    padding-bottom: 24px; }
  .ps-md-3 {
    padding-left: 24px; }
  .px-md-3 {
    padding-left: 24px;
    padding-right: 24px; }
  .py-md-3 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .m-md-4 {
    margin: 32px; }
  .mt-md-4 {
    margin-top: 32px; }
  .me-md-4 {
    margin-right: 32px; }
  .mb-md-4 {
    margin-bottom: 32px; }
  .ms-md-4 {
    margin-left: 32px; }
  .mx-md-4 {
    margin-left: 32px;
    margin-right: 32px; }
  .my-md-4 {
    margin-top: 32px;
    margin-bottom: 32px; }
  .p-md-4 {
    padding: 32px; }
  .pt-md-4 {
    padding-top: 32px; }
  .pe-md-4 {
    padding-right: 32px; }
  .pb-md-4 {
    padding-bottom: 32px; }
  .ps-md-4 {
    padding-left: 32px; }
  .px-md-4 {
    padding-left: 32px;
    padding-right: 32px; }
  .py-md-4 {
    padding-top: 32px;
    padding-bottom: 32px; }
  .m-md-5 {
    margin: 40px; }
  .mt-md-5 {
    margin-top: 40px; }
  .me-md-5 {
    margin-right: 40px; }
  .mb-md-5 {
    margin-bottom: 40px; }
  .ms-md-5 {
    margin-left: 40px; }
  .mx-md-5 {
    margin-left: 40px;
    margin-right: 40px; }
  .my-md-5 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .p-md-5 {
    padding: 40px; }
  .pt-md-5 {
    padding-top: 40px; }
  .pe-md-5 {
    padding-right: 40px; }
  .pb-md-5 {
    padding-bottom: 40px; }
  .ps-md-5 {
    padding-left: 40px; }
  .px-md-5 {
    padding-left: 40px;
    padding-right: 40px; }
  .py-md-5 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .m-md-6 {
    margin: 48px; }
  .mt-md-6 {
    margin-top: 48px; }
  .me-md-6 {
    margin-right: 48px; }
  .mb-md-6 {
    margin-bottom: 48px; }
  .ms-md-6 {
    margin-left: 48px; }
  .mx-md-6 {
    margin-left: 48px;
    margin-right: 48px; }
  .my-md-6 {
    margin-top: 48px;
    margin-bottom: 48px; }
  .p-md-6 {
    padding: 48px; }
  .pt-md-6 {
    padding-top: 48px; }
  .pe-md-6 {
    padding-right: 48px; }
  .pb-md-6 {
    padding-bottom: 48px; }
  .ps-md-6 {
    padding-left: 48px; }
  .px-md-6 {
    padding-left: 48px;
    padding-right: 48px; }
  .py-md-6 {
    padding-top: 48px;
    padding-bottom: 48px; }
  .m-md-7 {
    margin: 56px; }
  .mt-md-7 {
    margin-top: 56px; }
  .me-md-7 {
    margin-right: 56px; }
  .mb-md-7 {
    margin-bottom: 56px; }
  .ms-md-7 {
    margin-left: 56px; }
  .mx-md-7 {
    margin-left: 56px;
    margin-right: 56px; }
  .my-md-7 {
    margin-top: 56px;
    margin-bottom: 56px; }
  .p-md-7 {
    padding: 56px; }
  .pt-md-7 {
    padding-top: 56px; }
  .pe-md-7 {
    padding-right: 56px; }
  .pb-md-7 {
    padding-bottom: 56px; }
  .ps-md-7 {
    padding-left: 56px; }
  .px-md-7 {
    padding-left: 56px;
    padding-right: 56px; }
  .py-md-7 {
    padding-top: 56px;
    padding-bottom: 56px; }
  .m-md-8 {
    margin: 64px; }
  .mt-md-8 {
    margin-top: 64px; }
  .me-md-8 {
    margin-right: 64px; }
  .mb-md-8 {
    margin-bottom: 64px; }
  .ms-md-8 {
    margin-left: 64px; }
  .mx-md-8 {
    margin-left: 64px;
    margin-right: 64px; }
  .my-md-8 {
    margin-top: 64px;
    margin-bottom: 64px; }
  .p-md-8 {
    padding: 64px; }
  .pt-md-8 {
    padding-top: 64px; }
  .pe-md-8 {
    padding-right: 64px; }
  .pb-md-8 {
    padding-bottom: 64px; }
  .ps-md-8 {
    padding-left: 64px; }
  .px-md-8 {
    padding-left: 64px;
    padding-right: 64px; }
  .py-md-8 {
    padding-top: 64px;
    padding-bottom: 64px; }
  .m-md-9 {
    margin: 72px; }
  .mt-md-9 {
    margin-top: 72px; }
  .me-md-9 {
    margin-right: 72px; }
  .mb-md-9 {
    margin-bottom: 72px; }
  .ms-md-9 {
    margin-left: 72px; }
  .mx-md-9 {
    margin-left: 72px;
    margin-right: 72px; }
  .my-md-9 {
    margin-top: 72px;
    margin-bottom: 72px; }
  .p-md-9 {
    padding: 72px; }
  .pt-md-9 {
    padding-top: 72px; }
  .pe-md-9 {
    padding-right: 72px; }
  .pb-md-9 {
    padding-bottom: 72px; }
  .ps-md-9 {
    padding-left: 72px; }
  .px-md-9 {
    padding-left: 72px;
    padding-right: 72px; }
  .py-md-9 {
    padding-top: 72px;
    padding-bottom: 72px; }
  .m-md-10 {
    margin: 80px; }
  .mt-md-10 {
    margin-top: 80px; }
  .me-md-10 {
    margin-right: 80px; }
  .mb-md-10 {
    margin-bottom: 80px; }
  .ms-md-10 {
    margin-left: 80px; }
  .mx-md-10 {
    margin-left: 80px;
    margin-right: 80px; }
  .my-md-10 {
    margin-top: 80px;
    margin-bottom: 80px; }
  .p-md-10 {
    padding: 80px; }
  .pt-md-10 {
    padding-top: 80px; }
  .pe-md-10 {
    padding-right: 80px; }
  .pb-md-10 {
    padding-bottom: 80px; }
  .ps-md-10 {
    padding-left: 80px; }
  .px-md-10 {
    padding-left: 80px;
    padding-right: 80px; }
  .py-md-10 {
    padding-top: 80px;
    padding-bottom: 80px; }
  .m-md-11 {
    margin: 88px; }
  .mt-md-11 {
    margin-top: 88px; }
  .me-md-11 {
    margin-right: 88px; }
  .mb-md-11 {
    margin-bottom: 88px; }
  .ms-md-11 {
    margin-left: 88px; }
  .mx-md-11 {
    margin-left: 88px;
    margin-right: 88px; }
  .my-md-11 {
    margin-top: 88px;
    margin-bottom: 88px; }
  .p-md-11 {
    padding: 88px; }
  .pt-md-11 {
    padding-top: 88px; }
  .pe-md-11 {
    padding-right: 88px; }
  .pb-md-11 {
    padding-bottom: 88px; }
  .ps-md-11 {
    padding-left: 88px; }
  .px-md-11 {
    padding-left: 88px;
    padding-right: 88px; }
  .py-md-11 {
    padding-top: 88px;
    padding-bottom: 88px; }
  .m-md-12 {
    margin: 96px; }
  .mt-md-12 {
    margin-top: 96px; }
  .me-md-12 {
    margin-right: 96px; }
  .mb-md-12 {
    margin-bottom: 96px; }
  .ms-md-12 {
    margin-left: 96px; }
  .mx-md-12 {
    margin-left: 96px;
    margin-right: 96px; }
  .my-md-12 {
    margin-top: 96px;
    margin-bottom: 96px; }
  .p-md-12 {
    padding: 96px; }
  .pt-md-12 {
    padding-top: 96px; }
  .pe-md-12 {
    padding-right: 96px; }
  .pb-md-12 {
    padding-bottom: 96px; }
  .ps-md-12 {
    padding-left: 96px; }
  .px-md-12 {
    padding-left: 96px;
    padding-right: 96px; }
  .py-md-12 {
    padding-top: 96px;
    padding-bottom: 96px; }
  .m-md-13 {
    margin: 104px; }
  .mt-md-13 {
    margin-top: 104px; }
  .me-md-13 {
    margin-right: 104px; }
  .mb-md-13 {
    margin-bottom: 104px; }
  .ms-md-13 {
    margin-left: 104px; }
  .mx-md-13 {
    margin-left: 104px;
    margin-right: 104px; }
  .my-md-13 {
    margin-top: 104px;
    margin-bottom: 104px; }
  .p-md-13 {
    padding: 104px; }
  .pt-md-13 {
    padding-top: 104px; }
  .pe-md-13 {
    padding-right: 104px; }
  .pb-md-13 {
    padding-bottom: 104px; }
  .ps-md-13 {
    padding-left: 104px; }
  .px-md-13 {
    padding-left: 104px;
    padding-right: 104px; }
  .py-md-13 {
    padding-top: 104px;
    padding-bottom: 104px; }
  .m-md-14 {
    margin: 112px; }
  .mt-md-14 {
    margin-top: 112px; }
  .me-md-14 {
    margin-right: 112px; }
  .mb-md-14 {
    margin-bottom: 112px; }
  .ms-md-14 {
    margin-left: 112px; }
  .mx-md-14 {
    margin-left: 112px;
    margin-right: 112px; }
  .my-md-14 {
    margin-top: 112px;
    margin-bottom: 112px; }
  .p-md-14 {
    padding: 112px; }
  .pt-md-14 {
    padding-top: 112px; }
  .pe-md-14 {
    padding-right: 112px; }
  .pb-md-14 {
    padding-bottom: 112px; }
  .ps-md-14 {
    padding-left: 112px; }
  .px-md-14 {
    padding-left: 112px;
    padding-right: 112px; }
  .py-md-14 {
    padding-top: 112px;
    padding-bottom: 112px; }
  .m-md-15 {
    margin: 120px; }
  .mt-md-15 {
    margin-top: 120px; }
  .me-md-15 {
    margin-right: 120px; }
  .mb-md-15 {
    margin-bottom: 120px; }
  .ms-md-15 {
    margin-left: 120px; }
  .mx-md-15 {
    margin-left: 120px;
    margin-right: 120px; }
  .my-md-15 {
    margin-top: 120px;
    margin-bottom: 120px; }
  .p-md-15 {
    padding: 120px; }
  .pt-md-15 {
    padding-top: 120px; }
  .pe-md-15 {
    padding-right: 120px; }
  .pb-md-15 {
    padding-bottom: 120px; }
  .ps-md-15 {
    padding-left: 120px; }
  .px-md-15 {
    padding-left: 120px;
    padding-right: 120px; }
  .py-md-15 {
    padding-top: 120px;
    padding-bottom: 120px; }
  .m-md-16 {
    margin: 128px; }
  .mt-md-16 {
    margin-top: 128px; }
  .me-md-16 {
    margin-right: 128px; }
  .mb-md-16 {
    margin-bottom: 128px; }
  .ms-md-16 {
    margin-left: 128px; }
  .mx-md-16 {
    margin-left: 128px;
    margin-right: 128px; }
  .my-md-16 {
    margin-top: 128px;
    margin-bottom: 128px; }
  .p-md-16 {
    padding: 128px; }
  .pt-md-16 {
    padding-top: 128px; }
  .pe-md-16 {
    padding-right: 128px; }
  .pb-md-16 {
    padding-bottom: 128px; }
  .ps-md-16 {
    padding-left: 128px; }
  .px-md-16 {
    padding-left: 128px;
    padding-right: 128px; }
  .py-md-16 {
    padding-top: 128px;
    padding-bottom: 128px; }
  .m-md-17 {
    margin: 136px; }
  .mt-md-17 {
    margin-top: 136px; }
  .me-md-17 {
    margin-right: 136px; }
  .mb-md-17 {
    margin-bottom: 136px; }
  .ms-md-17 {
    margin-left: 136px; }
  .mx-md-17 {
    margin-left: 136px;
    margin-right: 136px; }
  .my-md-17 {
    margin-top: 136px;
    margin-bottom: 136px; }
  .p-md-17 {
    padding: 136px; }
  .pt-md-17 {
    padding-top: 136px; }
  .pe-md-17 {
    padding-right: 136px; }
  .pb-md-17 {
    padding-bottom: 136px; }
  .ps-md-17 {
    padding-left: 136px; }
  .px-md-17 {
    padding-left: 136px;
    padding-right: 136px; }
  .py-md-17 {
    padding-top: 136px;
    padding-bottom: 136px; } }

@media (max-width: 767px) {
  .m-sm-1 {
    margin: 8px; }
  .mt-sm-1 {
    margin-top: 8px; }
  .me-sm-1 {
    margin-right: 8px; }
  .mb-sm-1 {
    margin-bottom: 8px; }
  .ms-sm-1 {
    margin-left: 8px; }
  .mx-sm-1 {
    margin-left: 8px;
    margin-right: 8px; }
  .my-sm-1 {
    margin-top: 8px;
    margin-bottom: 8px; }
  .p-sm-1 {
    padding: 8px; }
  .pt-sm-1 {
    padding-top: 8px; }
  .pe-sm-1 {
    padding-right: 8px; }
  .pb-sm-1 {
    padding-bottom: 8px; }
  .ps-sm-1 {
    padding-left: 8px; }
  .px-sm-1 {
    padding-left: 8px;
    padding-right: 8px; }
  .py-sm-1 {
    padding-top: 8px;
    padding-bottom: 8px; }
  .m-sm-2 {
    margin: 16px; }
  .mt-sm-2 {
    margin-top: 16px; }
  .me-sm-2 {
    margin-right: 16px; }
  .mb-sm-2 {
    margin-bottom: 16px; }
  .ms-sm-2 {
    margin-left: 16px; }
  .mx-sm-2 {
    margin-left: 16px;
    margin-right: 16px; }
  .my-sm-2 {
    margin-top: 16px;
    margin-bottom: 16px; }
  .p-sm-2 {
    padding: 16px; }
  .pt-sm-2 {
    padding-top: 16px; }
  .pe-sm-2 {
    padding-right: 16px; }
  .pb-sm-2 {
    padding-bottom: 16px; }
  .ps-sm-2 {
    padding-left: 16px; }
  .px-sm-2 {
    padding-left: 16px;
    padding-right: 16px; }
  .py-sm-2 {
    padding-top: 16px;
    padding-bottom: 16px; }
  .m-sm-3 {
    margin: 24px; }
  .mt-sm-3 {
    margin-top: 24px; }
  .me-sm-3 {
    margin-right: 24px; }
  .mb-sm-3 {
    margin-bottom: 24px; }
  .ms-sm-3 {
    margin-left: 24px; }
  .mx-sm-3 {
    margin-left: 24px;
    margin-right: 24px; }
  .my-sm-3 {
    margin-top: 24px;
    margin-bottom: 24px; }
  .p-sm-3 {
    padding: 24px; }
  .pt-sm-3 {
    padding-top: 24px; }
  .pe-sm-3 {
    padding-right: 24px; }
  .pb-sm-3 {
    padding-bottom: 24px; }
  .ps-sm-3 {
    padding-left: 24px; }
  .px-sm-3 {
    padding-left: 24px;
    padding-right: 24px; }
  .py-sm-3 {
    padding-top: 24px;
    padding-bottom: 24px; }
  .m-sm-4 {
    margin: 32px; }
  .mt-sm-4 {
    margin-top: 32px; }
  .me-sm-4 {
    margin-right: 32px; }
  .mb-sm-4 {
    margin-bottom: 32px; }
  .ms-sm-4 {
    margin-left: 32px; }
  .mx-sm-4 {
    margin-left: 32px;
    margin-right: 32px; }
  .my-sm-4 {
    margin-top: 32px;
    margin-bottom: 32px; }
  .p-sm-4 {
    padding: 32px; }
  .pt-sm-4 {
    padding-top: 32px; }
  .pe-sm-4 {
    padding-right: 32px; }
  .pb-sm-4 {
    padding-bottom: 32px; }
  .ps-sm-4 {
    padding-left: 32px; }
  .px-sm-4 {
    padding-left: 32px;
    padding-right: 32px; }
  .py-sm-4 {
    padding-top: 32px;
    padding-bottom: 32px; }
  .m-sm-5 {
    margin: 40px; }
  .mt-sm-5 {
    margin-top: 40px; }
  .me-sm-5 {
    margin-right: 40px; }
  .mb-sm-5 {
    margin-bottom: 40px; }
  .ms-sm-5 {
    margin-left: 40px; }
  .mx-sm-5 {
    margin-left: 40px;
    margin-right: 40px; }
  .my-sm-5 {
    margin-top: 40px;
    margin-bottom: 40px; }
  .p-sm-5 {
    padding: 40px; }
  .pt-sm-5 {
    padding-top: 40px; }
  .pe-sm-5 {
    padding-right: 40px; }
  .pb-sm-5 {
    padding-bottom: 40px; }
  .ps-sm-5 {
    padding-left: 40px; }
  .px-sm-5 {
    padding-left: 40px;
    padding-right: 40px; }
  .py-sm-5 {
    padding-top: 40px;
    padding-bottom: 40px; }
  .m-sm-6 {
    margin: 48px; }
  .mt-sm-6 {
    margin-top: 48px; }
  .me-sm-6 {
    margin-right: 48px; }
  .mb-sm-6 {
    margin-bottom: 48px; }
  .ms-sm-6 {
    margin-left: 48px; }
  .mx-sm-6 {
    margin-left: 48px;
    margin-right: 48px; }
  .my-sm-6 {
    margin-top: 48px;
    margin-bottom: 48px; }
  .p-sm-6 {
    padding: 48px; }
  .pt-sm-6 {
    padding-top: 48px; }
  .pe-sm-6 {
    padding-right: 48px; }
  .pb-sm-6 {
    padding-bottom: 48px; }
  .ps-sm-6 {
    padding-left: 48px; }
  .px-sm-6 {
    padding-left: 48px;
    padding-right: 48px; }
  .py-sm-6 {
    padding-top: 48px;
    padding-bottom: 48px; }
  .m-sm-7 {
    margin: 56px; }
  .mt-sm-7 {
    margin-top: 56px; }
  .me-sm-7 {
    margin-right: 56px; }
  .mb-sm-7 {
    margin-bottom: 56px; }
  .ms-sm-7 {
    margin-left: 56px; }
  .mx-sm-7 {
    margin-left: 56px;
    margin-right: 56px; }
  .my-sm-7 {
    margin-top: 56px;
    margin-bottom: 56px; }
  .p-sm-7 {
    padding: 56px; }
  .pt-sm-7 {
    padding-top: 56px; }
  .pe-sm-7 {
    padding-right: 56px; }
  .pb-sm-7 {
    padding-bottom: 56px; }
  .ps-sm-7 {
    padding-left: 56px; }
  .px-sm-7 {
    padding-left: 56px;
    padding-right: 56px; }
  .py-sm-7 {
    padding-top: 56px;
    padding-bottom: 56px; }
  .m-sm-8 {
    margin: 64px; }
  .mt-sm-8 {
    margin-top: 64px; }
  .me-sm-8 {
    margin-right: 64px; }
  .mb-sm-8 {
    margin-bottom: 64px; }
  .ms-sm-8 {
    margin-left: 64px; }
  .mx-sm-8 {
    margin-left: 64px;
    margin-right: 64px; }
  .my-sm-8 {
    margin-top: 64px;
    margin-bottom: 64px; }
  .p-sm-8 {
    padding: 64px; }
  .pt-sm-8 {
    padding-top: 64px; }
  .pe-sm-8 {
    padding-right: 64px; }
  .pb-sm-8 {
    padding-bottom: 64px; }
  .ps-sm-8 {
    padding-left: 64px; }
  .px-sm-8 {
    padding-left: 64px;
    padding-right: 64px; }
  .py-sm-8 {
    padding-top: 64px;
    padding-bottom: 64px; }
  .m-sm-9 {
    margin: 72px; }
  .mt-sm-9 {
    margin-top: 72px; }
  .me-sm-9 {
    margin-right: 72px; }
  .mb-sm-9 {
    margin-bottom: 72px; }
  .ms-sm-9 {
    margin-left: 72px; }
  .mx-sm-9 {
    margin-left: 72px;
    margin-right: 72px; }
  .my-sm-9 {
    margin-top: 72px;
    margin-bottom: 72px; }
  .p-sm-9 {
    padding: 72px; }
  .pt-sm-9 {
    padding-top: 72px; }
  .pe-sm-9 {
    padding-right: 72px; }
  .pb-sm-9 {
    padding-bottom: 72px; }
  .ps-sm-9 {
    padding-left: 72px; }
  .px-sm-9 {
    padding-left: 72px;
    padding-right: 72px; }
  .py-sm-9 {
    padding-top: 72px;
    padding-bottom: 72px; }
  .m-sm-10 {
    margin: 80px; }
  .mt-sm-10 {
    margin-top: 80px; }
  .me-sm-10 {
    margin-right: 80px; }
  .mb-sm-10 {
    margin-bottom: 80px; }
  .ms-sm-10 {
    margin-left: 80px; }
  .mx-sm-10 {
    margin-left: 80px;
    margin-right: 80px; }
  .my-sm-10 {
    margin-top: 80px;
    margin-bottom: 80px; }
  .p-sm-10 {
    padding: 80px; }
  .pt-sm-10 {
    padding-top: 80px; }
  .pe-sm-10 {
    padding-right: 80px; }
  .pb-sm-10 {
    padding-bottom: 80px; }
  .ps-sm-10 {
    padding-left: 80px; }
  .px-sm-10 {
    padding-left: 80px;
    padding-right: 80px; }
  .py-sm-10 {
    padding-top: 80px;
    padding-bottom: 80px; }
  .m-sm-11 {
    margin: 88px; }
  .mt-sm-11 {
    margin-top: 88px; }
  .me-sm-11 {
    margin-right: 88px; }
  .mb-sm-11 {
    margin-bottom: 88px; }
  .ms-sm-11 {
    margin-left: 88px; }
  .mx-sm-11 {
    margin-left: 88px;
    margin-right: 88px; }
  .my-sm-11 {
    margin-top: 88px;
    margin-bottom: 88px; }
  .p-sm-11 {
    padding: 88px; }
  .pt-sm-11 {
    padding-top: 88px; }
  .pe-sm-11 {
    padding-right: 88px; }
  .pb-sm-11 {
    padding-bottom: 88px; }
  .ps-sm-11 {
    padding-left: 88px; }
  .px-sm-11 {
    padding-left: 88px;
    padding-right: 88px; }
  .py-sm-11 {
    padding-top: 88px;
    padding-bottom: 88px; }
  .m-sm-12 {
    margin: 96px; }
  .mt-sm-12 {
    margin-top: 96px; }
  .me-sm-12 {
    margin-right: 96px; }
  .mb-sm-12 {
    margin-bottom: 96px; }
  .ms-sm-12 {
    margin-left: 96px; }
  .mx-sm-12 {
    margin-left: 96px;
    margin-right: 96px; }
  .my-sm-12 {
    margin-top: 96px;
    margin-bottom: 96px; }
  .p-sm-12 {
    padding: 96px; }
  .pt-sm-12 {
    padding-top: 96px; }
  .pe-sm-12 {
    padding-right: 96px; }
  .pb-sm-12 {
    padding-bottom: 96px; }
  .ps-sm-12 {
    padding-left: 96px; }
  .px-sm-12 {
    padding-left: 96px;
    padding-right: 96px; }
  .py-sm-12 {
    padding-top: 96px;
    padding-bottom: 96px; }
  .m-sm-13 {
    margin: 104px; }
  .mt-sm-13 {
    margin-top: 104px; }
  .me-sm-13 {
    margin-right: 104px; }
  .mb-sm-13 {
    margin-bottom: 104px; }
  .ms-sm-13 {
    margin-left: 104px; }
  .mx-sm-13 {
    margin-left: 104px;
    margin-right: 104px; }
  .my-sm-13 {
    margin-top: 104px;
    margin-bottom: 104px; }
  .p-sm-13 {
    padding: 104px; }
  .pt-sm-13 {
    padding-top: 104px; }
  .pe-sm-13 {
    padding-right: 104px; }
  .pb-sm-13 {
    padding-bottom: 104px; }
  .ps-sm-13 {
    padding-left: 104px; }
  .px-sm-13 {
    padding-left: 104px;
    padding-right: 104px; }
  .py-sm-13 {
    padding-top: 104px;
    padding-bottom: 104px; }
  .m-sm-14 {
    margin: 112px; }
  .mt-sm-14 {
    margin-top: 112px; }
  .me-sm-14 {
    margin-right: 112px; }
  .mb-sm-14 {
    margin-bottom: 112px; }
  .ms-sm-14 {
    margin-left: 112px; }
  .mx-sm-14 {
    margin-left: 112px;
    margin-right: 112px; }
  .my-sm-14 {
    margin-top: 112px;
    margin-bottom: 112px; }
  .p-sm-14 {
    padding: 112px; }
  .pt-sm-14 {
    padding-top: 112px; }
  .pe-sm-14 {
    padding-right: 112px; }
  .pb-sm-14 {
    padding-bottom: 112px; }
  .ps-sm-14 {
    padding-left: 112px; }
  .px-sm-14 {
    padding-left: 112px;
    padding-right: 112px; }
  .py-sm-14 {
    padding-top: 112px;
    padding-bottom: 112px; }
  .m-sm-15 {
    margin: 120px; }
  .mt-sm-15 {
    margin-top: 120px; }
  .me-sm-15 {
    margin-right: 120px; }
  .mb-sm-15 {
    margin-bottom: 120px; }
  .ms-sm-15 {
    margin-left: 120px; }
  .mx-sm-15 {
    margin-left: 120px;
    margin-right: 120px; }
  .my-sm-15 {
    margin-top: 120px;
    margin-bottom: 120px; }
  .p-sm-15 {
    padding: 120px; }
  .pt-sm-15 {
    padding-top: 120px; }
  .pe-sm-15 {
    padding-right: 120px; }
  .pb-sm-15 {
    padding-bottom: 120px; }
  .ps-sm-15 {
    padding-left: 120px; }
  .px-sm-15 {
    padding-left: 120px;
    padding-right: 120px; }
  .py-sm-15 {
    padding-top: 120px;
    padding-bottom: 120px; }
  .m-sm-16 {
    margin: 128px; }
  .mt-sm-16 {
    margin-top: 128px; }
  .me-sm-16 {
    margin-right: 128px; }
  .mb-sm-16 {
    margin-bottom: 128px; }
  .ms-sm-16 {
    margin-left: 128px; }
  .mx-sm-16 {
    margin-left: 128px;
    margin-right: 128px; }
  .my-sm-16 {
    margin-top: 128px;
    margin-bottom: 128px; }
  .p-sm-16 {
    padding: 128px; }
  .pt-sm-16 {
    padding-top: 128px; }
  .pe-sm-16 {
    padding-right: 128px; }
  .pb-sm-16 {
    padding-bottom: 128px; }
  .ps-sm-16 {
    padding-left: 128px; }
  .px-sm-16 {
    padding-left: 128px;
    padding-right: 128px; }
  .py-sm-16 {
    padding-top: 128px;
    padding-bottom: 128px; }
  .m-sm-17 {
    margin: 136px; }
  .mt-sm-17 {
    margin-top: 136px; }
  .me-sm-17 {
    margin-right: 136px; }
  .mb-sm-17 {
    margin-bottom: 136px; }
  .ms-sm-17 {
    margin-left: 136px; }
  .mx-sm-17 {
    margin-left: 136px;
    margin-right: 136px; }
  .my-sm-17 {
    margin-top: 136px;
    margin-bottom: 136px; }
  .p-sm-17 {
    padding: 136px; }
  .pt-sm-17 {
    padding-top: 136px; }
  .pe-sm-17 {
    padding-right: 136px; }
  .pb-sm-17 {
    padding-bottom: 136px; }
  .ps-sm-17 {
    padding-left: 136px; }
  .px-sm-17 {
    padding-left: 136px;
    padding-right: 136px; }
  .py-sm-17 {
    padding-top: 136px;
    padding-bottom: 136px; } }

.m-0 {
  margin: 0; }

@media (max-width: 991px) {
  .m-md-0 {
    margin: 0; } }

.p-0 {
  padding: 0; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-inline-block {
  display: inline-block; }

.d-block {
  display: block; }

.d-none {
  display: none; }

@media (max-width: 1199px) {
  .d-lg-none {
    display: none; }
  .d-lg-inline {
    display: inline; } }

@media (max-width: 991px) {
  .d-md-none {
    display: none; } }

@media (max-width: 767px) {
  .d-sm-none {
    display: none; } }

.position-fixed {
  position: fixed; }

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.jce {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.ais {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.text-center {
  text-align: center; }

.text-end {
  text-align: right; }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.object-cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.hover-td:hover {
  text-decoration: underline; }

.hover-enlarge {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  .hover-enlarge:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03); }

.hover-enlarge-shadow {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s; }
  .hover-enlarge-shadow:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16); }

.scroll-to-top {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  background-color: #FBF2F2;
  border: 2px solid #AA0601;
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  -o-transition: transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s; }
  .scroll-to-top:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .scroll-to-top:active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .scroll-to-top a {
    display: inline-block;
    width: 100%;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    color: #AA0601;
    font-size: 0.875rem;
    font-weight: 700; }

.index-logo {
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  width: 80px;
  height: 48.5px;
  margin: 16px 0;
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
  background-size: contain; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -12px;
  margin-right: -12px; }
  @media (max-width: 767px) {
    .nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      position: absolute;
      left: 0;
      top: 80px;
      width: 100%;
      margin: 0;
      max-height: 0;
      overflow: hidden;
      z-index: 100; } }
  .nav--active {
    max-height: 220px;
    overflow: hidden; }
  @media (max-width: 767px) {
    .nav li {
      width: 50%;
      text-align: center; } }
  .nav-link {
    display: block;
    color: #ffffff;
    padding: 8px 12px;
    margin-left: 40px;
    font-size: 1.25rem; }
    .nav-link:hover {
      text-decoration: underline; }
    @media (max-width: 767px) {
      .nav-link {
        margin: 0;
        padding: 12px 32px;
        background-color: #AA0601;
        border: 1px solid #ffffff; } }

.ham-icon {
  display: none; }
  @media (max-width: 767px) {
    .ham-icon {
      display: block;
      width: 40px;
      height: 40px;
      color: #ffffff; }
      .ham-icon .material-symbols-outlined {
        font-size: 40px; }
      .ham-icon:active {
        background-color: #650300; } }

.footer {
  padding-top: 48px;
  padding-bottom: 32px;
  color: #ffffff; }
  @media (max-width: 767px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }
  .footer a {
    color: #ffffff; }
  .footer .top-half {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 32px; }
    @media (max-width: 767px) {
      .footer .top-half {
        margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .footer .bottom-half {
      display: block; } }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 24px; }
    @media (max-width: 767px) {
      .footer-nav {
        display: none; } }
    .footer-nav a {
      display: block;
      padding: 12px 24px; }
      @media (max-width: 991px) {
        .footer-nav a {
          padding: 8px 24px; } }
      .footer-nav a:hover {
        text-decoration: underline; }

.socialMedia-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -4px;
  margin-right: -4px; }
  .socialMedia-nav li + li {
    margin-left: 24px; }
    @media (max-width: 991px) {
      .socialMedia-nav li + li {
        margin-left: 8px; } }
    @media (max-width: 767px) {
      .socialMedia-nav li + li {
        margin-left: 0; } }
  .socialMedia-nav a {
    display: block;
    padding: 0 4px;
    -webkit-transition: -webkit-transform .1s;
    transition: -webkit-transform .1s;
    -o-transition: transform .1s;
    transition: transform .1s;
    transition: transform .1s, -webkit-transform .1s; }
    .socialMedia-nav a:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  .socialMedia-nav img {
    vertical-align: middle;
    max-width: 48px; }
    @media (max-width: 991px) {
      .socialMedia-nav img {
        max-width: 40px; } }
    @media (max-width: 767px) {
      .socialMedia-nav img {
        max-width: 24px; } }

.contactInfo {
  font-family: 'Noto Sans TC', sans-serif;
  margin-bottom: 32px; }
  @media (max-width: 767px) {
    .contactInfo {
      margin-bottom: 24px; } }
  .contactInfo a {
    display: block;
    font-size: 36px; }
    @media (max-width: 767px) {
      .contactInfo a {
        font-size: 16px; } }
    .contactInfo a:hover {
      text-decoration: underline; }
  .contactInfo .material-symbols-outlined {
    font-size: 36px;
    margin-right: 20px; }
    @media (max-width: 767px) {
      .contactInfo .material-symbols-outlined {
        font-size: 18px;
        margin-right: 10px; } }

.policy {
  margin-left: -12px;
  margin-right: -12px; }
  .policy a {
    display: inline-block;
    font-size: 14px;
    padding: 0 12px; }
    @media (max-width: 767px) {
      .policy a {
        display: block;
        margin-top: 8px; } }
    .policy a + a {
      margin-left: 24px; }
      @media (max-width: 767px) {
        .policy a + a {
          margin-left: 0; } }
    .policy a:hover {
      text-decoration: underline; }

.series-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .series-nav-link {
    display: block;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500; }
    @media (max-width: 991px) {
      .series-nav-link {
        font-size: 1.5rem; } }
    @media (max-width: 767px) {
      .series-nav-link {
        font-size: 1rem; } }
  .series-nav .hover-effect {
    width: 0;
    height: 8px;
    background-color: #AA0601; }
  .series-nav .hover-effect--active {
    width: 100%; }
  .series-nav li {
    width: calc(100% / 3);
    border: 1px solid #DCDCDC; }
    .series-nav li + li {
      margin-left: -1px; }
    .series-nav li:hover .hover-effect {
      width: 100%;
      -webkit-transition: width .8s;
      -o-transition: width .8s;
      transition: width .8s; }

.series-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 176px; }
  @media (max-width: 991px) {
    .series-banner {
      margin-top: 148px; } }
  @media (max-width: 767px) {
    .series-banner {
      margin-top: 136px; } }
  .series-banner > li {
    width: 50%;
    height: 296px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

.colorCube {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 4px; }

.location-select {
  max-width: 304px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #495057;
  font-size: 18px;
  padding: 6px 8px; }

.location-card h3 {
  margin-bottom: -1px; }

.location-card .border {
  border: 1px solid rgba(0, 0, 0, 0.16); }

.location-card .material-symbols-outlined {
  font-size: 18px;
  margin-right: 11px; }

.location-card button {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: #000000;
  color: #ffffff;
  padding: 16px 8px;
  font-size: 19px;
  margin-top: -1px;
  cursor: pointer; }

.location-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.blog-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .blog-header {
      display: block; } }

.blog-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -12px;
  margin-right: -12px; }
  .blog-nav-link {
    display: block;
    padding: 13px 12px;
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700; }
    @media (max-width: 767px) {
      .blog-nav-link {
        font-size: 1rem; } }
  .blog-nav li {
    margin-right: 24px; }
    .blog-nav li:last-child {
      margin-right: 0; }
    @media (max-width: 767px) {
      .blog-nav li {
        margin: 0; } }

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (max-width: 767px) {
    .search {
      display: none; } }
  .search-box {
    max-width: 0px;
    min-height: 25px;
    border: none;
    border-radius: 3px;
    padding: 0px;
    -webkit-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    -webkit-transition: max-width .5s;
    -o-transition: max-width .5s;
    transition: max-width .5s; }
    .search-box:hover {
      max-width: 130px;
      padding: initial;
      padding-left: 6px; }
    .search-box:focus {
      max-width: 130px;
      padding: initial;
      padding-left: 6px; }
    .search-box:focus-visible {
      outline: none; }
  .search-icon {
    cursor: pointer; }
    .search-icon > span {
      vertical-align: middle;
      font-size: 29px;
      color: #ffffff; }

.tag-icon {
  font-size: 3rem; }
  @media (max-width: 991px) {
    .tag-icon {
      font-size: 1.5rem; } }

.article-pagi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .article-pagi-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .article-pagi-link span + span {
      margin-left: 8px; }
  @media (max-width: 767px) {
    .article-pagi {
      display: none; } }

.index-banner {
  background-image: url(../images/home-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  height: 72.9vh; }
  @media (max-width: 991px) {
    .index-banner {
      background-image: url(../images/home-header-sm.png); } }
  .index-banner > div {
    height: 100%; }

.buy-now {
  padding: 6px 12px;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 4px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }
  .buy-now:hover {
    background-color: #650300;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }
  .buy-now:active {
    background-color: #650300;
    -webkit-transform: scale(0.95);
        -ms-transform: scale(0.95);
            transform: scale(0.95); }

.section2-img {
  display: block;
  max-width: 100px;
  margin: 0 auto; }

.co-branding {
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top; }
  @media (max-width: 991px) {
    .co-branding {
      background-image: url(../images/index-bg-md.png); } }
  @media (max-width: 767px) {
    .co-branding {
      background-image: url(../images/index-bg-sm.png); } }

.section4-img {
  width: 100%;
  min-height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  .section4-img-1 {
    background-image: url(../images/home-section4-1.png); }
    @media (max-width: 767px) {
      .section4-img-1 {
        background-image: url(../images/home-section4-1-sm.png); } }
  .section4-img-2 {
    background-image: url(../images/home-section4-2.png); }
    @media (max-width: 767px) {
      .section4-img-2 {
        background-image: url(../images/home-section4-2-sm.png); } }

.index-form {
  max-width: 636px;
  margin: 0 auto; }
  @media (max-width: 991px) {
    .index-form {
      max-width: 576px; } }
  .index-form input, .index-form textarea {
    padding-left: 12px;
    border-width: 1px;
    border-color: #000000; }
  .index-form textarea {
    max-height: 136px;
    line-height: 24px; }
  .index-form input:not([type="checkbox"]) {
    min-height: 36px; }
  .index-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 6px; }
  .index-form input[type="submit"] {
    width: 416px;
    margin: 0 auto;
    border: none;
    background-color: #AA0601;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s; }
    @media (max-width: 991px) {
      .index-form input[type="submit"] {
        width: 336px; } }
    @media (max-width: 767px) {
      .index-form input[type="submit"] {
        width: 100%; } }
    .index-form input[type="submit"]:hover {
      background-color: #650300; }
    .index-form input[type="submit"]:active {
      background-color: #650300; }

.banner-optical li:first-child {
  background-image: url(../images/product-header-1.png); }
  @media (max-width: 991px) {
    .banner-optical li:first-child {
      background-image: url(../images/product-header-sm-1.png); } }

.banner-optical li:last-child {
  background-image: url(../images/product-header-2.png); }
  @media (max-width: 991px) {
    .banner-optical li:last-child {
      background-image: url(../images/product-header-sm-2.png); } }

@media (max-width: 991px) {
  .optical-exhibit li:nth-child(n+11) {
    display: none; } }

@media (max-width: 767px) {
  .optical-exhibit li:nth-child(n+6) {
    display: none; } }

.banner-sunglasses li:first-child {
  background-image: url(../images/product-header-3.png); }
  @media (max-width: 991px) {
    .banner-sunglasses li:first-child {
      background-image: url(../images/product-header-sm-3.png); } }

.banner-sunglasses li:last-child {
  background-image: url(../images/product-header-4.png); }
  @media (max-width: 991px) {
    .banner-sunglasses li:last-child {
      background-image: url(../images/product-header-sm-4.png); } }

@media (max-width: 767px) {
  .sunglasses-exhibit li:nth-child(n+6) {
    display: none; } }

/*# sourceMappingURL=all.css.map */
